/* Haut de page*/
html,body{
    margin: 0%;
    padding: 0%;
}

.banniere{
   width: 100%;
   height: 100%;
}
.email{
   width: 10%;
   height: 10%;
}
.insta{
   width: 10%;
   height: 10%;
}
.linkedin{
   width: 10%;
   height: 10%;
}
.facebook{
   width: 10%;
   height: 10%;
}
.logo{
   width: 100%;
   height: 100%;
}
.box2{
  color: #ed6d5c; 
  text-align: center;
  font-size: 250%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box2a{
   text-align:center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 110%;
   color: #448b99;
}
.box2b{
   text-align:center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 110%;
   color: #448b99;
}

.box3{
   margin:2%;
   padding:2%;
   text-align: center;
}
.box4{
   background-color: #b9dbd8;
   text-align: justify;
}
.boxa{
   margin: 5%;
   padding:5%;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   padding-top: 10%;
}
.citation{
   text-align: right;
   margin: 5%;
   padding: 5%;
}
.box5{
   margin: 5%;
   padding: 5%;
}
.box6{
   margin: 5%;
   padding: 5%;
}
.boxb{
   color: #ed6d5c; 
   text-align: center;
   font-size: 250%;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.insigneMonhistoire{
   width: 25%;
   height: 25%;
}
.insigneProjets{
   width: 25%;
   height: 25%;
}
.insigneCV{
   width: 25%;
   height: 25%;
}
.navigation{
   text-align: center;
}
.citation{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
   text-align: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: #ed6d5c;
   color: white;
   text-decoration: none;
}
a{
text-decoration: none;
color: white;
}
a:hover{
color: #448b99
}
@media screen and (min-width:852px){
   .boxa{
      font-size: 30px;
   }
   .citation{
      font-size: 30px;
   }
}