html,body{
    margin: 0%;
    padding: 0%;
}
.banniere{
    width: 100%;
    height: 100%;
}
.box2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5%;
    margin:5%;
}
.box2>a{
    color: black;
}
footer{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ed6d5c;
    color: white;
    text-decoration: none;
 }
 a{
    text-decoration: none;
    color: #ed6d5c;
    }
    a:hover{
    color: #448b99
    }
